<div class="col-md-6 col-md-offset-3 bg-success">
			
					<div class="col-sm-7 col-sm-offset-5">
						<h3>Schedule a Pickup</h3>
					</div>
					<form name="scheduleForm" class="form-horizontal">
							<div class="form-group">
							    <label class="control-label col-sm-2" for="fname">Name</label>
							    <div class="col-sm-10">
								    <input type="text" class="form-control" ng-model="order.name" name="fname" id="fname" required ng-minlength="3" ng-maxlength="8">
									<div ng-messages="scheduleForm.fname.$error" ng-if="scheduleForm.fname.$touched">
									  	<div ng-message="required">This field is required</div>
				  					  <div ng-message="minlength">First Name must be over 3 characters</div>
				  					  <div ng-message="maxlength">First Name must not exceed 8 characters</div>
									</div>
								</div>
							</div>
			
							<div class="form-group">
							    <label class="control-label col-sm-2" for="useremail">Email</label>
							    <div class="col-sm-10">
								    <input class="form-control" ng-model="order.Email" name="useremail" id="useremail" type="email" required>
										<div ng-messages="scheduleForm.useremail.$error" ng-if="scheduleForm.useremail.$touched">
									  <div ng-message="required">This field is required</div>
									  <div ng-message="email">Your email address is invalid</div>
									</div>
								</div>
							</div>
			
							<div class="form-group">
							    <label class="control-label col-sm-2" for="address">Address</label>
							    <div class="col-sm-10">
								    <input type="text" class="form-control" ng-model="order.Address" name="address" id="address" required>
										<div ng-messages="scheduleForm.address.$error" ng-if="scheduleForm.address.$touched">
									  <div ng-message="required">This field is required</div>
									</div>
								</div>
							</div>
			
							<div class="form-group">
							    <label class="control-label col-sm-2" for="pincode">Pincode</label>
							    <div class="col-sm-10">
								    <input type="text" class="form-control" ng-model="order.Pincode" name="pincode" id="pincode" ng-pattern="/^\d{6}$/" required>
										<div ng-messages="scheduleForm.pincode.$error" ng-if="scheduleForm.pincode.$touched">
									  <div ng-message="required">This field is required</div>
									  <div ng-message="pattern">Must be a valid 6 digits</div>
									</div>
								</div>
							</div>
			
							<div class="form-group">
							    <label class="control-label col-sm-2" for="phone">Phone</label>
							    <div class="col-sm-10">
								    <input type="text" class="form-control" ng-model="order.Phone" name="phone" id="phone" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" required/>
										<div ng-messages="scheduleForm.phone.$error" ng-if="scheduleForm.phone.$touched">
									  <div ng-message="required">This field is required</div>
									  <div ng-message="pattern">Must be a valid 10 digit phone number</div>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-2" for="items">Items</label>
								<div class="col-sm-10">
									<select name="items" id="items" ng-model="order.itemList" multiple required >
										<option ng-repeat="val in items" value="{{val.ItemName}}">{{val.ItemName}}</option>

							    </select>
							    <div ng-messages="scheduleForm.items.$error" ng-if="scheduleForm.items.$touched">
									 	<div ng-message="required">This field is required</div>
							   	</div>
							    <mark>You selected = {{order.itemList}}</mark>
							  </div>
	    				</div>
	    				
	    				<div class="form-group">
								<label class="control-label col-sm-2" for="date">Date</label>
								<div class="col-sm-10">
							   <input type="date" id="date" name="input" ng-model="order.date"
							       placeholder="yyyy-MM-dd" required />
							   <div ng-messages="scheduleForm.date.$error" ng-if="scheduleForm.date.$touched">
								 	<div ng-message="required">This field is required</div>
								 	<div ng-message="date">Not a valid date</div>
							   </div>
							   <mark>Date = {{order.date | date: "yyyy-MM-dd"}}</mark>
							  </div>
	    				</div>
			
							<div class="form-group">
								<div class="col-sm-4 col-sm-offset-4">
									<button class="btn btn-success form-control col-sm-4 center-block" ng-click="placeOrder(order)">Schedule</button>
								</div>
							</div>
						</form>
					</div>